/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
 	min-height: 100%;
 }

 body {
    margin: 0;
    padding: 0;
 }

 * {
    font-family: 'PT Sans', sans-serif;
 }

#title {
    color: white;
    font-size: 36px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    font-family: 'Lobster', cursive;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#wrappertable {
	height: 100vh;
    max-height: 100vh;
	width: 100vw;
    border: none;
    border-spacing: 0;
}

#wrappertable td {
    padding: 0;
}

#toolbar {
    width: 30%;
    vertical-align: top; 
    padding: 0;
    background: #4f4a91;
    color: #ffffff;
}

 #todolistwrapper {
 }

 #boxeswrapper {
    margin: 75px;
    background: white;
 }

 #todolist {
 	list-style-type: none;
 	padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
 }

#boxtitle {
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#boxtitle a {
    color: white;
}

.todolist-item {
 	margin: 3px;
 	margin-left: 0px;
	padding: 0.4em;
	font-size: 1.0em;
	border: 1px solid #aaaaaa;
	color: white;
    background: #A588EB;
    border-radius: 2px;
}

 .todolist-item-done {
    color: white;
    background: #aaaaaa;    
 }

 .todolist-item-done td {
    text-decoration: line-through;
}

.todolist-item-name {
    font-weight: bold;
}

.todolist-item-time {
    text-align: right;
}

.todolist-item-table {
    width: 100%;
}

.todomodifybtn {
    width: 25px;
}

.todomodifybtn input {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#feedback { font-size: 1.0em; }
#todolist .ui-selecting { background: #EED169; }
#todolist .ui-selected { background: #EED169; color: white; }
#todolist { list-style-type: none; margin: 0; padding: 0; }
#todolist li { margin: 3px; padding: 0.4em; font-size: 1.0em; }

.alert {
    padding : 10px;
    border: 1px dashed rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.alert alert-success {
    color: white;
}

.alert alert-danger {
    color: red;
}

#hide-alert-btn {
    cursor: pointer;
    float: right;
    font-size: 18px;
}

#loginformwrapper {
    text-align: center;
    padding-top: 75px;
}

#loginformwrapper a {
    color: white;
}

#loginformwrapper div {
    margin-top: 10px;
}

#loginformwrapper input {
    color: #7d7d8e;
    border-radius: 2px;
    border:none;
    padding: 5px;
    font-size: 12px;
}

.devise-button input {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border:none;
    padding: 5px;
    color: white!important;
    background: #EED169;
}

#userstatus {
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#userstatus a{
    color: white;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: white;
    list-style: none;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
    line-height: 20px;
    color: #FFFFFF;
}

.gridster-box-selected {
    border: 3px solid #F39814;    
}

.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}

#addtodowrapper {
    display: none;
    margin-top: 25px;
    padding: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#addboxwrapper {
    margin-top: 25px;
    padding: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.field td:first-child {
    width: 75px;
    font-size: 16px;
}

.field td:nth-child(2) {
    width: 150px;
}

.field td:nth-child(2) input{
    width: 100%;
    color: #7d7d8e;
    border-radius: 2px;
    border:none;
    padding: 5px;
    font-size: 16px;
}

.actions {
    text-align: right;
}

.actions input {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border:none;
    padding: 5px;
    color: white;
    background: #EED169;
    width: 50%;
    margin-right: 20px;
}
